p {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

#welcomeTitle {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3.5rem;
    text-align: center;
    animation: fadeIn ease 5s;
    color: black;
}
#welcomeTo {
    padding-top: 200px;
}

.welcomeRooster {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 6px;
    font-size: 3rem;
    text-align: center;
    animation: fadeIn ease 10s;
    color: black;
}

.welcomeBackground {
    background: url(../front-end-dev-test-assets/IMG_3523.jpg) no-repeat;
    height: 800px;
    width: 100%;
    /* background-size: cover; */
    color: white;
}

.popcornLogo img {
    padding: 2% 0 8% 10%;
}

/* generic button styles */
.roosterButton {
    height: 55px;
    width: 172px;
    border: none;
    color: white;
    background-color: purple;
    border-radius: 10px;
}

.roosterButton:hover {
    opacity: 65%;
}

#welcomeButton {
    margin-top: 7%;
    margin-left: 12%;
}

/* generic title paragraph styling */
.roosterTitleParagraph {
    padding: 7% 6% 0% 16%;
}

/* generic description styling */
.roosterDescriptionTitle {
    padding-bottom: 5%;
    color: rgb(39, 28, 6);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

#section4Title {
    color: black;
    padding-top: 10%;
}

/* generic direct link */
.roosterDirectLink {
    padding-top: 5%;
    color: orange;
}

.teamworkPicture {
    background: url(../front-end-dev-test-assets/IMG_3499.JPG) no-repeat;
    height: 600px;
}

/* generic banner styling on section 3 and seciont 5 */
.roosterBanner {
    height: 600px;
}

.section3Banner {
    background: url(../front-end-dev-test-assets/outside.jpg) no-repeat;
    background-size: cover;
}

.section3Content {
    padding: 16% 0 0 10%;
}

.section5Banner {
    background: url(../front-end-dev-test-assets/sleep.jpg) no-repeat;
}

.section5Content {
    margin-top: 6%;
    /* padding-right: 10%;
    padding-left: 5%; */
}

#section5Title,
#section3Title {
    font-size: 2.5rem;
}

.bannerButton {
    background-color: orange;
    color: white;
    margin-top: 4%;
}

.roosterIcon {
    border: 1px solid purple;
    height: 100px;
    width: 102px;
    max-width: unset;
    flex: unset;
    border-radius: 50%;
    padding-top: 3%;
    display: inline-block;
}

i {
    height: 100px;
    width: 102px;
}

.roosterIcon:hover {
    border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
    animation: wobble 1s ease-in-out alternate infinite;
    cursor: pointer;
}

@keyframes wobble {
    50% {
        border-radius: 750px 550px 350px 750px / 350px 750px 550px 450px;
    }

    100% {
        border-radius: 750px 250px 750px 250px / 250px 750px 250px 750px;
    }
}

.roosterIconContainer p {
    margin-top: 6%;
    font-size: 18px;
}

.roosterIcon img {
    height: 70px;
    width: 80px;
    margin-top: 10%;
    margin-left: 4%;
    display: inline-block;
}

.roosterIconContainer {
    text-align: center;
}

.roosterIcon:hover img {
    opacity: 50%;
}

.roosterGroupIcons {
    background-color: #FAFAFA;
    padding: 10%
}

.section4IconRow {
    padding-top: 10%;
}

#section6Title {
    color: black;
    padding-right: 15%;
    padding-top: 5%;
}

#carouselMain {
    padding-bottom: 10%;
}

.carousel-inner {
    padding-top: 10%;
    padding-right: 11%;
    padding-left: 13%;
}

.carousel-indicators {
    color: red;
}

.carousel-indicators li {
    background-color: #FFE465;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-control-prev-icon::after {
    color: purple;
}

.carousel-item h5 {
    padding-bottom: 5%;
    text-align: center;
    color: purple;
    font-family: 'Raleway', sans-serif;
}

.followUsTitle {
    padding-left: 4%;
}

.followUs {
    padding-bottom: 1%;
}

.followUs img {
    background-color: #FAFAFA;
    border: none;
    border-radius: 0;
    height: 60px;
    padding-right: 5%;
    padding-left: 5%;
}

footer {
    background-color: #FAFAFA;
}