* {
    padding: 0;
    margin: 0;
}
.hero-bkg-animated {
    background: gray url(https://images.unsplash.com/photo-1583743220494-3da91330c2fd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8Z29sZGVuJTIwZ2F0ZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60) repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 300px;
    color:white;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
  }
  
  .hero-bkg-animated h1 {
    font-family: sans-serif;
   
  }
  
  @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -400px 0; }
  }

  .btn {
    /* reset */
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    /* styles */
    position: relative;
    background:  linear-gradient(to right,  #D6BDDD
 ,#B7B4DB,#ABCADA,#B8D8BC,#D8D8BA,#DDBDC0);
    /* background-size: 100px; */
    cursor: pointer;
    line-height: 12px;
    font-weight: 500;
    padding: 1.5rem 10rem;
    color: black;
    text-transform:uppercase;
    border-radius: 20px;
    font-size: 1.3rem;
    margin: 0 px;
    padding: 16px 10px 10px;
    transition: .3s;
    animation: bruh 16s linear infinite;
   
 }
 
 @keyframes bruh {
     0% {
         background-position: 0 50%;
     }
 
     50% {
         background-position: 100% 50%;
     }
 
     100% {
         background-position: 0 50%;
     }
 }
 
 a {
    display: table;
    margin: 25px auto;
    text-decoration: none;
    color: lighten(#222, 10%);
    font-family: "Source Code Pro";
    transition: .3s;
 
    &:hover {
       color: white;
    }
 }