@media (max-width: 1024px){
  .roosterTitleParagraph {
      padding-left: 6%;
      padding-top: 5%;
  }
  .teamworkPicture {
      height: 400px;
  }
  .roosterBanner {
    height: 400px;
}
.roosterGroupIcons {
    padding: 2%;
    padding-left: 10%
}
#section6Title {
    padding-right: 1%;
}
.followUsTitle {
    padding-left: 6%;
}
}