@import "~bootstrap/scss/bootstrap";

p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

#welcomeTitle {
    font-family: 'Monoton', cursive;
    font-size: 81px;
    text-align: center;
    animation: fadeIn ease 5s;
}

.welcomeRooster {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 6px;
    font-size: 80px;
    text-align: center;
    animation: fadeIn ease 10s;
}

#welcomeTo {
    margin-top: 10%;
}

.welcomeBackground {
    background: url(/front-end-dev-test-assets/hero.jpg) no-repeat;
    height: 1055px;
    width: 100%;
    background-size: cover;
    color: white;
}

.roosterLogo {
    padding: 2% 0 10% 15%;
}

// generic button styles
.roosterButton{
    height: 55px;
    width: 172px;
    border: none;
    color: white;
    background-color: purple;
}

.roosterButton:hover {
    opacity: 65%;
}

#welcomeButton {
    margin-top: 5%;
    margin-left: 20%;
}
// generic title paragraph styling
.roosterTitleParagraph {
    padding: 7% 10% 0% 11%;
}

// generic description styling
.roosterDescriptionTitle {
    padding-bottom: 5%;
    color: purple;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
#section4Title {
    color: black;
}

// generic direct link
.roosterDirectLink {
    padding-top: 5%;
    color: purple;
}

.teamworkPicture {
    background: url(/front-end-dev-test-assets/img-1.jpg) no-repeat;
    height: 600px;
    background-size: cover;
}

// generic banner styling
.roosterBanner {
    height: 800px;
}

.section3Banner{
    background: url(/front-end-dev-test-assets/banner-1.jpg) no-repeat;
    background-size: cover;
}

.section3Content {
    padding: 17% 0 0 22%;
}
.section5Banner {
    background: url(/front-end-dev-test-assets/banner-2.jpg) no-repeat;
    background-size: cover;
}

.section5Content {
    margin-top: 13%;
    padding-right: 20%;
}

#section5Title {
    font-size: 58px;
}
#bannerButton {
    background-color: orange;
    color: white;
    margin-top: 7%;
}

.roosterIcon {
    border: 3px solid purple;
    height: 100px;
    width: 102px;
    max-width: unset;
    flex: unset;
    border-radius: 50%;
    padding-top: 3%;
    display: inline-block;
}

.roosterIconContainer p {
    margin-top: 6%;
    font-size: 20px;
}
.roosterIcon img {
    height: 62px;
    width: 70px;
    margin-top: 10%;
    margin-left: 5%;
    display: inline-block
}
.roosterIconContainer{
text-align: center;

}

.roosterIcon img:hover {
    opacity: 50%;
}

.roosterGroupIcons {
    background-color: #FAFAFA;
    padding: 10%
}

.section4IconRow {
    padding-top: 10%;;
}

#section6Title {
    padding-right: 5;
}

.carousel-indicators, #carouselMain{
    color:red;
    margin: 15%;
}

.carousel-indicators li{
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color:purple;
  padding: 100%;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: purple;
}

.carousel-item h5 {
    padding-bottom: 5%;
    text-align: center;
}

.followUs p {
    text-align: center;
}

.followUs img {
    background-color: #FAFAFA;
    border: none;
    border-radius: 0;
    height: 60px;
    padding: 3%
}