@import "~bootstrap/scss/bootstrap";

.container {
    display: grid;
    width: 100%;
}
#welcomeTitle {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 56px;
    text-align: center;
    animation: fadeIn ease 5s;
}

.welcomeRooster {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 6px;
    font-size: 50px;
    text-align: center;
    animation: fadeIn ease 10s;
}

.welcomeBackground {
    background: url(/front-end-dev-test-assets/hero.jpg) no-repeat;
    height: 750px;
    width: 100%;
    background-size: cover;
    color: white;
}

.logoPadding {
    height:50%;
    padding-top: 1%;
}
// generic button styles
.roosterButton{
    height: 55px;
    width: 172px;
    border: none;
    color: white;
}
.roosterButton{
    height: 55px;
    width: 172px;
    border: none;
    color: white;
}

#welcomeButton:hover {
    background-color: purple;
    margin-left: 10%;
    margin-top: 10%;
}

// generic title paragraph styling
.roosterTitleParagraph {
    padding: 10% 5% 5% 15%;
}

// generic description styling
.roosterDescriptionTitle {
    padding-bottom: 5%;
    color: purple;
    font-family: 'Raleway', sans-serif;
}

// generic direct link
.roosterDirectLink {
    padding-top: 5%;
    color: purple;
}

.teamworkPicture {
    background: url(/front-end-dev-test-assets/img-1.jpg) no-repeat;
    height: 562px;
    background-size: cover;
}

// generic banner styling
.roosterBanner {
    height: 600px;
}

.roosterBanner1 {
    background: url(/front-end-dev-test-assets/banner-1.jpg) no-repeat;
    background-size: cover;
}
.roosterBanner2 {
    background: url(/front-end-dev-test-assets/banner-2.jpg) no-repeat;
    background-size: cover;
}

#bannerButton {
    background-color: orange;
    color: white;
}

.roosterIcon img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid purple;
    padding: 20px;
}

.roosterIcon img:hover {
    opacity: 50%;
}

.roosterGroupIcons {
    background-color: #FAFAFA;
    padding: 10%
}

.roosterIcon p {
    text-align: center;
}

.carousel-indicators, #carouselMain{
    color:red;
    margin: 15%;
}

.carousel-indicators li{
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color:purple;
  padding: 100%;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: purple;
}

.carousel-item h5 {
    padding-bottom: 5%;
    text-align: center;
}

.followUs p {
    text-align: center;
}

.followUs img {
    background-color: #FAFAFA;
    border: none;
    border-radius: 0;
    height: 60px;
    padding: 3%
}