@import "~bootstrap/scss/bootstrap";
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* -------------------- HERO SECTION -------------------- */
.hero {
  background: url("/src/assets/images/hero.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  @include flexCenter(column);
  h1 {
    color: white;
    text-align: center;
  }
}

/* -------------------- HEADLINE SECTION -------------------- */
.headline__text-block {
  height: 67vh;
  @include flexCenter(column);
  align-items: end;
  padding: 25px;
}

.headline__img {
  background: url("/src/assets/images/img-1.jpg");
  height: 67vh;
}

/* -------------------- ABOUT SECTION -------------------- */
.about__header {
  background: url("/src/assets/images/banner-1.jpg");
  height: 67vh;
  @include flexCenter(column);
  align-items: end;
}