/* ====mobile formatting start==== */
.hero-image {
    background-size: cover;
    min-height: 25vh;
    position: relative;
}

#hero-title-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-title {
    /* border: 1px solid blue; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    margin-left: 7%;
    margin-top: 3%;
    font-size: 18px;
    color: white;
}

#welcome-container {
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-button {
    width: 50%;
}

#welcome-text {
    color: white;
    margin-bottom: 1px;
    font-family: 'Skranji', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}

#welcome-text-2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}


/* ====mobile formatting end==== */

@media only screen and (min-width: 768px) {

}